<!-- contact/templates/contact/contact.html -->

{% extends 'email/base.html' %}

{% block body %}
<div class="mx-auto my-4 text-center">
    <h1>Send Email</h1>
</div>
<div class="container">
    <form action="send/" method="post">
        {% csrf_token %}
        <label for="recipient">Recipient email: </label>
        <input type="text" id="recipient" name="recipient">
        <br>
        <label for="subject">Subject:       </label>
        <input type="text" id="subject" name="subject">
        <br>
        <label for="message">Message:       </label>
        <input type="text" id="message" name="message">
        <br>
    <button class="btn btn-success my-3" type="submit">Send message</button>
    </form>
</div>
{% endblock %}